<div class="col-md-12">
  <div class="col-md-12 alerts">
    <div class="alert alert-success" [hidden]="!successAlert">
      <strong>Success!</strong> {{successAlertMessage}}
    </div>
  </div>
</div>

<div class="row" style="padding-left: 20px;padding-bottom: 10px">
  <a [routerLink]="['/gateways']"> Gateways </a>
  <a [routerLink]="['../']">&#8594; Slaves </a>
  <a [routerLink]="">&#8594; {{slave.description}} </a>
</div>


<div class="panel panel-primary">
  <div class="col-md-12 panel-heading" style="padding-top: 0px">
    <h3>{{slave.description}}</h3>
  </div>
  <div class="col-md-12 list-group-item">

    <div class="col-md-3">

      <div class="col-md-12" style="margin-top: 20px">
        <img src='{{slave.imageUrl}}' class="img-thumbnail">
      </div>
    </div>

    <div class="col-md-9">

      <div class="col-md-12">
        <h2>Monitoring</h2>
      </div>
      <div class="col-md-12 list-group-item" style="background-color: #e7e7e7">
        <div *ngFor="let requestable of slave.requestable">

          <div class="row col-md-12">

            <div class="col-md-3 list-group-item" style="background-color: #e7e7e7">
              <label>{{requestable.name}}</label>
              <div style="color:gray;margin-left: 5px">
                <label>{{requestable.description}}</label>
              </div>
            </div>

            <div class="col-md-5">
              <span *ngIf="requestable.type === 'integer'" class="text-primary">
                <input type="number" readonly class="form-control" value="{{requestable.value}}"/>
              </span>

              <span *ngIf="requestable.type === 'string'" class="text-primary">
                <input type="text" readonly class="form-control" value="{{requestable.value}}"/>
              </span>

              <span *ngIf="requestable.type === 'boolean'" class="text-primary">
                <input type="text" readonly class="form-control" value="{{requestable.value}}"/>
              </span>
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-success" (click)="updateRequestModel(slave.id, requestable)">Get data
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <h2>Controlling</h2>
      </div>
      <div class="col-md-12 list-group-item" style="background-color: #e7e7e7">
        <div *ngFor="let sendable of slave.sendable, let in = index">

          <div class="row col-md-12">

            <div class="col-md-3 list-group-item" style="background-color: #e7e7e7">
              <label>{{sendable.name}}</label>
              <div style="color:gray;margin-left: 5px">
                <label>{{sendable.description}}</label>
              </div>
            </div>

            <div class="col-md-5">
              <span *ngIf="sendable.type === 'integer'" class="text-primary">
                  <input type="number" class="form-control" name="send-{{in}}" [(ngModel)]="sendable.value"/>
              </span>

              <span *ngIf="sendable.type === 'string'" class="text-primary">
                  <input type="text" class="form-control" name="send-{{in}}" [(ngModel)]="sendable.value"/>
              </span>

              <span *ngIf="sendable.type === 'boolean'" class="text-primary">

              <button type="submit" class="btn btn-success"
                      (click)="send(slave.id, sendable.name,sendable.type, 'true')">On
              </button>

              <button type="submit" class="btn btn-success"
                      (click)="send(slave.id, sendable.name,sendable.type, 'false')">Off
              </button>
              </span>
            </div>
            <div class="col-md-3" [hidden]="sendable.type === 'boolean'">
              <button type="submit" class="btn btn-success"
                      (click)="send(slave.id, sendable.name,sendable.type, sendable.value)">Send data
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
